/target/
!.mvn/wrapper/maven-wrapper.jar
data/
csv/
tmp/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.DS_Store

### IntelliJ IDEA ###
.idea/*
*.iws
*.ipr
*.iml
*.log

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.idea/libraries/
.idea/dictionaries/
